/* ======== DomainName.com Screen Stylesheet ::
Author:    Name, Website
Created:    Date Intitals
Updated:    Date Initials
TOC:        Resets; HTML & Body; Links; Typography; Lists; Tables;
        Classes; Template; Navigation; Page Styles; Forms; Other;
----------------------------------------------------------------- */

/* ======== Resets ::
----------------------------------------------------------------- */
body, address, blockquote, h1, h2, h3, h4, h5, h6, p, pre, dl, ol,
ul, dd, dt, li, fieldset, form {margin:0;padding:0;}

/* ======== HTML & Body ::
----------------------------------------------------------------- */
html {font-size:100.01%;height:101%;}
body { 
height:100%;
font:62.5%/1.4 Arial,Tahoma,Geneva,Helvetica,sans-serif;
background:#fff;
color:#333;
}

/* ======== Links ::
----------------------------------------------------------------- */
a,a:visited {text-decoration:underline;}
a:active, a:focus, a:hover {text-decoration:none;outline:none;}
a img {border:none;}

/* ======== Typography ::
----------------------------------------------------------------- */
/* ==== Resets for Nested elements 
- Helpful for Relative Font Size Sites (Not Needed for Fixed Font Size Sites) ==== */
blockquote p, p blockquote, div div, div li, div p,div dt,div dd,
li li, li li li,ul ul, p address, p pre, pre p,
td address, td h1, td h2, td h3, td h4, td li, td dd, td dt, td p, td pre {font-size: 100%;}

abbr,acronym {text-decoration: none;border:0}
address, h1, h2, h3, h4, h5, h6, dd, dt, li, p, pre {padding:.6em 0;}
h1 {font-size:2.2em;}
h2 {font-size:1.8em;}
h3 {font-size:1.6em;}
h4 {font-size:1.4em;}
h5 {font-size:1.2em;}
h6 {font-size:1.1em;}
address,blockquote,div,dd,dt,li,p,th,td {font-size:1.2em;}
dt {font-weight:bold;}
pre {font-size: 12px;}
q:before,q:after {content:'';}

/* ======== Lists ::
----------------------------------------------------------------- */

//li, ol, dd, dt {vertical-align:middle;list-style-position: inside;}

/* ======== Tables ::
----------------------------------------------------------------- */
table {
border:none;
border-collapse:collapse;
border-spacing:0;
overflow:hidden;
word-wrap:break-word;
}
caption, th, td {text-align: left;vertical-align:top;}

/* ======== General Purpose Classes ::
----------------------------------------------------------------- */
.alignleft {text-align:left;}
.alignright {text-align:right;}
.center {text-align:center;}
.clear {clear:both;padding:0;margin:0;line-height:0;}
.external {/* if needed with new window JS */}
.floatleft {float:left;}
.floatright {float:right;}
.hidden {display:none;}
.inline {display:inline;}
.large {font-size:20px;font-weight:bold;}
.light {color:#999;}
.png {/* if needed with png fix JS */}
.small {font-size:10px;font-weight:normal;}
.bold {font-weight: bold;}

/* ======== Template ::
----------------------------------------------------------------- */
#wrap {width:900px;margin:0 auto;}
#header { }
#content { }
#main {float:right;}
#sidebar {float:left;}
#footer {clear:both;}



/* ======== Page Styles ::
----------------------------------------------------------------- */




/* ======== Other ::
----------------------------------------------------------------- */
